@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* GLOBAL LAYOUTS */
:root {
  --color-bg: #fff;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
  --color-active: #10b981;
  --color-dark: #252428;
  --color-red: #b70000;
  --font-default: "Lato", sans-serif;
  --font-monospace: "Space Mono", monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: var(--font-default);
}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 2rem;
}

.main-content {
  flex-grow: 1;
  margin: 0;
  background-color: #eee;
  padding: 23px 35px;
  font-size: 1rem;
  font-weight: 600;
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: var(--color-active);
  padding: 0.7rem;
  border-radius: 0.1rem;
  color: #fff;
  font-weight: normal;
}


/* SIDEBAR */
.sidebar-wrapper {
  position: relative;
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: var(--color-bg);
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}

.sidebar-top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.sidebar-logo {
  width: 3.3rem;
  height: 3.3rem;
  object-fit: contain;
  border-radius: 1rem;
}

.sidebar-title {
  font-family: var(--font-default);
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 0.8;
}

.sidebar-subtitle {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-dark);
  text-align: center;
}

.sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

li:last-of-type {
  margin-top: 42vh;
}


.sidebar-link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: var(--color-sidebar-item);
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar-link--active {
  color: #fff;
  background-color: var(--color-active);
}

.sidebar-icon {
  display: inline-block;
  font-size: 1.2rem;
}

.sidebar-name {
  margin-left: 0.5rem;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar-name,
[data-collapse="true"] .sidebar-logo-name {
  display: none;
}

.sidebar-footer {
  font-family: var(--font-default);
  font-weight: 600;
  color: var(--color-dark);
  font-size: 0.8rem;
  line-height: 1.5;
}

.sidebar-toggle {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

/* CONNECT FORM */
.form-wrapper,
.settings-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 5px;
  background-color: #f5f5f5;
  max-width: 100%;
  margin: auto;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

.form-wrapper form label {
  display: flex;
  position: relative;
  left: 0;
  justify-content: space-between;
  vertical-align: middle;
}

.form-wrapper form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-left: 10rem;
  width: 30rem;
}

.text-area {
  margin-left: 10rem;
  width: 30rem;
  height: 10rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.form-wrapper form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-active);
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  width: 20rem;
  text-align: center;
  margin-left: auto;
}

/* CONNECTIONS */
.widgets-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.connection-widget {
  display: block;
  align-items: center;
  min-width: 23vw;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.connection-widget:hover {
  background-color: #e8e8e8;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.widget-icon {
  display: inline-block;
  font-size: 3em;
  margin-right: 1rem;
  color: var(--color-dark);
}

.widget-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background-color: var(--color-dark);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.widget-info {
  font-family: var(--font-monospace);
  font-size: 1rem;
  font-weight: 600;
}

.widget-info strong {
  font-family: var(--font-default);
}

.widget-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 1rem;
}

.delete-button,
.terminal-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: var(--font-default);
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 0.2rem;
  color: var(--color-bg);
  background-color: var(--color-active);
}

.control-icon {
  font-size: 1.2rem;
}

.delete-button {
  background-color: var(--color-red);
}

.terminal-button {
  background-color: var(--color-dark);
}

/* SETTINGS */
.setting-label {
  font-weight: 600;
}

.theme-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-button {
  width: 8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
  gap: 0.5rem;
  border: none;
  background-color: var(--color-dark);
  border-radius: 0.25rem;
  color: var(--color-bg);
  font-weight: 500;
}

.theme-icon {
  font-size: 1.3rem;
}

/* LANDING PAGE */
.landing-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
}

.landing-left,
.landing-right {
  width: 25%;
}

.landing-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.landing-buttons button:last-of-type {
  background: none;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
}

.landing-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-active);
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin: auto;
}

.landing-image {
  width: auto;
  height: 30rem;
  border-radius: 3rem;
}

.landing-title {
  text-align: justify;
  margin-bottom: 1.5rem;
}

.landing-icon {
  font-size: 1.5rem;
}

.landing-descr {
  text-align: justify;
}

.landing-descr strong {
  color: var(--color-active);
}

/* ACCOUNT */
.account-details {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 2rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px 40px 30px;
}

.account-details p {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
}

.section-title {
  line-height: 2.5;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

.profile-details {
  min-width: 100px;
  margin-right: 10px;
  font-weight: 600;
  line-height: 1.5;
  font-family: var(--font-default);
}

.profile-picture {
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
  border: 3px solid var(--color-active);
  margin: auto;
}

.signout-button {
  width: 8rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: var(--color-red);
  color: var(--color-bg);
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
}

.profile,
.settings-container {
  background-color: #f5f5f5;
}

.settings-container {
  padding: 10px 40px 30px;
}